<!DOCTYPE html>
<html ng-app>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.pack.js"></script>
		<script type="text/javascript" src="js/ranker.js"></script>
		<script src="http://d3js.org/d3.v3.min.js"></script>

		<title>Ranker</title>

		<link rel="profile" href="http://gmpg.org/xfn/11" />
		<link rel="stylesheet" href="style.css" />
		<link rel="shortcut icon" href="Favicon.ico" />
		<link href='http://fonts.googleapis.com/css?family=Metrophobic' rel='stylesheet' type='text/css'>
	</head>


	<body>
		<h1>RANKER</h1>
		<div ng-controller="RankerCtrl">
			<table>
				<tr>
					<th>
						Item
					</th>
					<th>
						<input type="text" ng-model="X.name" placeholder="X">
					</th>
					<th>
						<input type="text" ng-model="Y.name" placeholder="Y">
					</th>
				</tr>
				<tr ng-repeat="item in items">
					<td>
						<input type="text" ng-model="item.name">
					</td>
					<td>
						<input type="text" ng-model="item.x">
					</td>
					<td>
						<input type="text" ng-model="item.y">
					</td>
				</tr>
			</table>
			<form ng-submit="addItem()">
				<input type="text" ng-model="itemName">
				<input type="text" ng-model="itemX">
				<input type="text" ng-model="itemY">
				<input class="button" type="submit" value="add">
			</form>

			<div id="graph">
				
			</div>

		</div> 
		
	</body>

</html>